<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>${title}</title>
</head>

<body>
    <center>
        <div class="block">
            <h2  id="h1">Троецветие вырвиглаз</h2>
            <b> Репозиторий maxima-java-05
                <p> >Создать шаблон страницы с использованием тегов div, p, a, img
                    Использовать на странице не менее трех классов,
                    подключенных к типу элемента, к id элемента и через явное указание класса. </p>

                <br> <i> >Описать класс DynamicPage с методом createPage(String filename),
                     который будет создавать html-файл по шаблону Freemarker, используя данные из вспомогательного
                         класса. 
                        В качестве такого класса данных использовать класс Cat из модуля 3.</i>
            </b>
        </div>
        <article>
            <p><span class="text-block">Первый обзац готов</span></p>
        </article>
         <p><a href="https://www.b17.ru/foto/uploaded/upl_1509740711_33648.png" alt="некотэ">ссылька</a></p>
        <div>
            <br>
            <h2>${cat.getName()}</h2>
            <h2>${cat.getWeight()}</h2>
            <h1 class="h1">${cat.isAngry()}</h1>
        </div>
        <br>
        <img src="https://thumbs.dreamstime.com/z/%D0%B3%D0%BE%D0%BB%D0%BE%D0%B4%D0%BD%D1%8B%D0%B9-%D0%BA%D0%BE%D1%82-%D0%B8%D0%B4%D0%B5%D1%82-%D1%81%D1%8A%D0%B5%D1%81%D1%82%D1%8C-%D0%BC%D1%8B%D1%88%D1%8C-%D0%BD%D0%B0-%D1%87%D0%B5%D1%80%D0%BD%D0%BE%D1%82%D0%B5-137017644.jpg" width="700" height="800">
        
        <script src="scrypt.js"></script>
</body>

</html>